/*  */
/* .contCatHead1{
    margin-top: 55px;
}

.rowcategr1{
    background-color: rgb(224, 202, 172);
    
    height: 56px;
}
.textCatBanner{
    
    width: 100px;
    display: flex;
    margin-left: 30px;
    justify-content: center;
}

.textCatName{
    font-family: 'Cinzel', serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 13px;
    
}

.categorie1{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
 */

.banners{
    height: 230px;
    border-radius: 0px 0px 60px 60px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divBanners{
    background-color: #ed7c31b5;
    /* background-color: #aaaaaa74; */
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textBanners{
    font-family: 'Cinzel', serif; 
    font-size: 40px;
    color: black;
}

.outBack1{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid antiquewhite;
    border-radius: 50px;
    width: 160px;
    height: 40px;
    margin-left: 80px;
}