body{
    background-color: #F6F1EE;
    margin: 0;
    font-family: 'League Spartan', sans-serif;
}

/** title */

.text-1{
    margin-top: 50px;
    font-size: 210px;
    color: rgb(0, 0, 0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 20rem;
}

.texthome{
    font-weight: lighter;
}

.char{
    transform: translateY(-280px);
    
}