body{
    background-color: #F6F1EE;
    margin: 0;
    font-family: 'League Spartan', sans-serif;
}

/** title */

.text-1{
    margin-top: 50px;
    font-size: 250px;
    color: rgb(0, 0, 0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    
    margin: 0;
    
}

.texthome{
    font-weight: lighter;
}



.char{
    transform: transition .5s;
    transform: translateY(300px);
    
} 