.price{
    color: #ed7c5c;
    font-weight: 600;
}

.card-1{
 transition: 0.4s;
 border-radius: 20px;
 border: none;
}

.card-img {
    height: 140px;
    width: 140px;
    border-radius: 30px;
    margin-left: 5px;
    object-fit: cover;
}

.img-card-home{
    border-radius: 20px 20px 0 0 ;
    border: none;
}
 
/*?seconda prova  */
/*  .card {
    position: relative;
    overflow: hidden;
    background: transparent;
    border: none;
    
}

.card-body {
    padding: 1.25rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    
}

.card:hover .card-body {
    opacity: 1;
}
.fa-heart {
    font-size: 2rem;
    color: red; 
} */