.price{
    color: #4F4A45;
    font-weight: 600;
}

.out{
    transition: 0.4s;
    width: 18rem;
    border-radius: 20px;
}
.out:hover{
    background-color: #ec9255;
    transform: translateX(-9px);
}

.card{
 transition: 0.4s;
 border: none;
}

.card:hover{
    transform: translateX(20px);
}