
.card2 {
    max-width: 700px;
    height: 150px;
    border: none;
    background: #dedede;
    border-radius: 30px;
}

.card2-img {
    height: 140px;
    border-radius: 30px;
   
}
.imgC{
    width: auto;
    height: 87%;
    display: flex;
    align-items: center;
    
    margin-top: 2px;
    
}


.icon-d{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bello{
    width: 50px;
    height: 50px;
    background: #000;
}

@media (max-width: 767px) {
    .card2 {
        max-width: 100%;
        border-radius: 15px; /* Riduci il raggio del bordo per adattarti alle dimensioni più piccole */
    }

    .card2-img {
        border-radius: 15px 15px 0 0;
    }

    .imgC {
        flex-direction: column;
        padding: 5px;
    }
}