

footer{
  background-color: #ED7D31;
    background-size: cover;
    object-fit: contain;
    font-size: 20px;
    height: 400px;

   
}

.footer-contents{
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #ffffff;
  margin: 10px;
}

.pf-footer {
  margin-top: 2rem;
}


.pf-footer .pf-line {
  width: 100%;
  
}

@media screen and (min-width: 375px) and (max-width: 780px) {
	footer {
		margin-top: 190%;
	}



}
