

footer{
  background-color: #ED7D31;
  background-size: cover;
  object-fit: contain;
  font-size: 20px;
  height: 400px;
  width: 100%;
  font-family: 'Cinzel', serif; 
  
   
}

.footer-contents{
  display: flex;
  justify-content: space-between;
}

.tag-b{
  text-decoration: none;
  color: #000000;
  margin: 10px;
}

.pf-footer {
  margin-top: 2rem;
}


.pf-footer .pf-line {
  width: 100%;
  
}


@media screen and (min-width: 365px) and (max-width: 765px){

  footer{
    font-size: 11px;
    height: 270px;
    width: 100%;
    font-family: 'Cinzel', serif;
  }

  .logofooter{
    width: 120px;
    margin-top: 30px;
  }

} 