

footer{
  background-color: #ED7D31;
  background-size: cover;
  object-fit: contain;
  font-size: 20px;
  height: 400px;
  width: 100%;
  font-family: 'Cinzel', serif; 
  
   
}

.footer-contents{
  display: flex;
  justify-content: space-between;
}

.tag-b{
  text-decoration: none;
  color: #ffffff;
  margin: 10px;
  text-align: center;
}

.pf-footer {
  margin-top: 2rem;
}


.pf-footer .pf-line {
  width: 100%;
  
}

.name-user-footer{
  border: solid #d9ece9;
    border-radius: 30px;
    color: #d9ece9;
  

}
.container-logo-footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-logo-footer{
  justify-content: center;
}

.logofooter{
  width: 140px;
  margin-bottom: 30px;
}

@media screen and (min-width: 365px) and (max-width: 765px){

  footer{
    font-size: 11px;
    height: 270px;
    width: 100%;
    font-family: 'Cinzel', serif;
  }

  .logofooter{
    width: 100px;
    
  }

} 