form{
    background-color: #9e9491;
    margin-top: 30px;
}

.btn{
   background: #ED7C31; 
   border: none;
   border-radius: 0%;
   transition: 0.5s;
}
.btn:hover{

    background: #ba4c02;     
}

input:hover{
    border: solid 1px #ED7C31;
}
