/*header{
    border-bottom: solid 1px rgb(255, 128, 0);
    padding: 10px;
    box-shadow: 2px 3px 8px 2px rgb(255, 128, 0);
}*/

/* Stili di base per il carousel */
/* .carousel {
    width: 100%;
} */

/* .carousel-inner {
    margin: 0 -5px;
} */

/* .carousel-item img {
    width: 100%;
    height: auto;
} */

/** article 1*/
article{
	height: 260px;
}


/** title */

.text-1{
	height: 240px;
    font-size: 120px;
    color: rgb(0, 0, 0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin: 0; 
}

.texthome{
    font-weight: lighter;
}

.char{
    transform: translateY(250px); 
} 


/* .divUnderTitle{
	

} */

.imgUnderTitle{
	position: absolute;
	top: 21%;
	border: solid 12px black;
	border-radius: 48% 48% 0% 0% / 32% 32% 0% 0%;
	width: 110px;
	height: 130px;
	object-fit: cover;
}



/*! end title  */
/* !end article 1 */

/** article 2 */

.dicCont{

	position: relative;
}
.divHead{
	width: 500px;
	height: 570px;
	overflow: hidden;
	/* margin-left: 120px; */
	
}

.divHead2{
	width: 400px;
	height: 400px;
	
}

.imghead{
	width: 400px;
	height: 400px;
	object-fit: cover;
}

.textDet{
	width: 340px;
	height: 60px;
	background-color: #ED7D31;
	z-index: 1;
	position: absolute;
	top: 95%;
}

.textDet2{
	width: 340px;
	height: 60px;
	background-color: #ED7D31;
	z-index: 1;
	position: absolute;
	top: 80%;
}

/* ! end article 2 */

