.div-in-forelse {
    margin-left: 30px
}

.Div-img-header-index-l {
    width: 500px;
    height: 550px;
}

.Div-img-header-index-r {
    width: 350px;
    height: 400px;


}

.colhead-l {

    overflow: hidden
}

.colhead-r {

    overflow: hidden
}

.divhead-center {
    height: 60px;
    width: 340px;
    background-color: #ED7D31;
    position: absolute;
    left: 38.5%;
    top: 20%;
    display: flex;
    align-items: center;
}

.divhead-center2 {
    height: 60px;
    width: 340px;
    background-color: #ED7D31;
    position: absolute;
    top: 550px;
    display: flex;
    align-items: center;
}

.DivimgRtext {

    height: 130px;
    position: absolute;
    right: -9%;
    top: 35%;

}

.imgRtext {
    position: absolute;
    top: -10%;
    border: solid 12px black;
    border-radius: 48% 48% 0% 0% / 32% 32% 0% 0%;
    width: 110px;
    height: 130px;
    object-fit: cover;
}

.texthead {

    height: 140px;

}

.tutti-gli-annunci {
    font-size: 60px;
    color: rgb(0, 0, 0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin: 0;
}

.btn-index {
    width: 100px;
    height: 40px;
    border: none;
    background-color: #6C5F5B;
    border-radius: 4px;
    transition: 1.6s;
    transform: translateY(0);
    transform-origin: bottom;
}

.btn-index2 {
    width: 100px;
    height: 40px;
    border: none;
    background-color: #ED7D31;
    border-radius: 4px;
    transition: 1.6s;
    transform: translateY(0);
    transform-origin: bottom;
}

.text-btn-2 {
    color: aliceblue;
    text-decoration: none;
    font-size: small;
}

.colonna-l {
    background-image: url(https://images.unsplash.com/photo-1701817822150-2d218d8610e6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHx8);
    background-size: cover;
    background-position: center;
    position: sticky;
    

}

.colonna-r {
    background-image: url(https://images.unsplash.com/photo-1701817822150-2d218d8610e6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHx8);
    background-size: cover;
    background-position: center;

}
.imgsottoTitle {
	position: absolute;
	top: 21%;
	border: solid 12px black;
	border-radius: 48% 48% 0% 0% / 32% 32% 0% 0%;
	width: 110px;
	height: 130px;
	object-fit: cover;
}
.divarticle2 {
	z-index: 0;
    text-align: end;
}
#text-head-index {
   
}

/* .divhead-center h5 {
   text-shadow: -1px 2px 5px rgba(0,0,0,0.6);

}
p {
    text-shadow: -1px 2px 5px rgba(0,0,0,0.6);
} */

@media screen and (min-width: 300px) and (max-width: 600px) {
    .imgsottoTitle {
        display: none;
    }
   .divarticle2 {
    margin-top: 40px;
    display: flex;
	justify-content: center;
   }
   .card2 {
    width: 300px;
    display: flex;
    justify-content: center;
   }
   .inserito-da {
    display: none;
   }
   .price {
    display: flex;
    flex-direction: column;
   }
   .card-img {
    margin-left:74px;
   }
   .icon-d {
    display: none;
   }
   #text-head-index{
    font-size: 45px !important;
    text-align: center !important;
   }
   
}
@media screen and (min-width: 600px) and (max-width: 1100px){
    .imgsottoTitle {
        display: none;
    }
    #text-head-index{
        font-size: 80px !important;
        text-align: end !important;
       }
}
@media screen and (min-width: 200px) and (max-width: 300px){
    .imgsottoTitle {
        display: none;
    }
    #text-head-index{
        font-size: 30px !important;
      
      
    }
    article{
        height: 80px;
    }
}
