.a {
    animation: mymove 1s ;
}

.d {
    animation: mymove 2s ;
    margin-top: 13px;
}

.e {
    animation: mymove 3s ;
    margin-top: 18px;
}

.m {
    animation: mymove 4s ;
    
}

.i {
    width: 50px;
    animation: mymove 3s ;
}

@keyframes mymove {
    0% {
        top: 0px;
        left: 0px;
        opacity: 0;
        
    
       
    }

}
 .a, .d, .e, .m, .i {
transform: scale(1.2);
} 
.divimg {
    letter-spacing: 15px;
    
  
}




