.a {
    animation: mymove 1s ;
}

.d {
    animation: mymove 2s ;
    margin-top: 13px;
}

.e {
    animation: mymove 3s ;
    margin-top: 18px;
}

.m {
    animation: mymove 4s ;
    
}

.i {
    width: 50px;
    animation: mymove 3s ;
}

@keyframes mymove {
    0% {
        top: 0px;
        left: 0px;
        opacity: 0;
        
    
       
    }

}
 .a, .d, .e, .m, .i {
transform: scale(1.2);
} 
.divimg {
    letter-spacing: 15px;
    
  
}
.section {
    border: solid black 1px;
    position: relative;
    width: 100%;
    height: 100vh;
   
display: flex;


}

@media screen and (min-width: 230px) and (max-width: 767px) {

    .bg-logo{
        width: 100vw;
        display: flex;
        justify-content: center;

    }
	.divimg{
        display: flex;
        justify-content: center;
        width: 60%;
        margin-top: 23%;

    }

    .a {
      width: 20%;
    }
    
    .d {
        width: 20%;
    }
    
    .e {
        width: 20%;
    }
    
    .m {
        width: 20%;
        
    }
    
    .i {
        width: 11%;
    }
    

    .divlogin-register{
        margin-top: 4%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1399px) {

     .bg-logo{
        width: 100vw;
        display: flex;
        justify-content: center;
        
    }
	.divimg{
        display: flex;
        justify-content: center;
        width: 60%;
        margin-top: 20%;

    }


    .divlogin-register{
        width: 80%;
       
    }

}




