.a {

    animation: mymove 2s ;
}

.d {
    animation: mymove 3s ;
}

.e {
    animation: mymove 4s ;
}

.m {
    animation: mymove 5s ;
}

.i {
    width: 52px;
    animation: mymove 6s ;
}

@keyframes mymove {
    0% {
        top: 0px;
        left: 0px;
        opacity: 0;
        transition: 2s;
    
       
    }

}



