/* *navbar */

.navbar{
    background-color: #ED7D31;
    

}
.logo{
    width: 100px; 
}
.nav-link{
    color: rgb(255, 255, 255);
    
}
.nav-link:hover{
    color: rgb(255, 255, 255);
    
}
.btn-r{
    color: #000000;
    /* background-image: linear-gradient(#8f8e8e, #c8c8c8,#8f8e8e); */
    background-color:#d9ece9;
	border-radius: 20px;
}
.ulang{
    list-style: none;
}
/** end navbar  */


@media (max-width: 767px){
    .btn-r {
        float: right;
        width: 10px;

    }
}