/* *navbar */


.navbar{
    background-color: #ED7C31;
    height: 50px;
    
}

.logo{
    width: 100px;
    
}

.nav-link{
    color: aliceblue;
    transition: 0.9s;
}

.nav-link:hover{
    color: #ED7C31;
}
/** end navbar  */