/* *navbar */


.navbar{
    background-color: #000000;
    height: 50px;  
    letter-spacing: 2px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo{
    width: 100px;
    
}

.nav-link{
    color: rgb(255, 255, 255);
    
}




/** end navbar  */