
.divaside {
    width: 300px;
    height: auto;
    border-radius: 25px;
    background-color: whitesmoke;
    margin-left: 20px;
}
.div-upaside {
    width: 150px;
    height: 150px;
    margin-left: 80px;
}
.divImg {
    width: 150px;
    height: 150px;;
    margin-top: 30px;
    position: relative;
    display: flex;
    align-items: center;
}
.divName {
    margin-top: 30px;
}
.icon {
    position: absolute;
    top: 300px;
    left: 230px;
 
}
.imgprofile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.imgAttuale {
    width: 200px;
    height: 250px;
    border-radius: 25%;
}
.text-bio {
    overflow-wrap: break-word;
   
}
.rowCardProfile {
    justify-content: center;
    
    

}



#table-wrapper {
  position:relative;
  background-color: white;
 
}
#table-scroll {
  height:150px;
  overflow:auto;  
  margin-top:20px;
  
}
#table-wrapper table {
  width:100%;
  
}

#table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}
tr{ 
    border-bottom: 1px solid;
    margin-bottom: 3px !important;
}
.div-table-componente {
    margin-left: 30px;
}
.text-h4 {
    font-family: 'Cinzel', serif; 
}
.logo-porta {
    position: fixed;
    top: 10vh;
    left: 85vw;
    width: 130px;

}
.search-profilo {
    margin-top: 90px !important;
}
@media screen and (min-width: 300px)  and (max-width: 600px){
  
    .div-table-componente {
        margin-left: 0px;
    }
    .divaside {
        margin-left: 38px;
    }
    .text-h4 {
        font-family: 'Cinzel', serif; 
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .search {
        margin-right: 15px;
    }
    .div-upaside {
        width: 150px;
        height: 150px;
        margin-left: 100px;
    }
    .btn-list {
        width: 50px;
        font-size: 8px;
    }

}

@media screen and (min-width: 600px)  and (max-width: 1100px){

    .logo-porta {
        padding-bottom: 100px;
    }
    .icon {
        position: absolute;
        top: 400px;
        left: 230px;
     
    }
    
    .div-upaside, .aside-phone {
        width: 300px;
        margin-left: 40px;
        height: auto;
    }
    .div-upaside, .imgprofile {
        width: 150px;
        height: 150px;
        margin-left: 25px;
    }
    .div-table-componente {
        margin-top: 30px;
        margin-left: 155px;
    }
}