.divaside {
    width: 300px;
    height: auto;
    border-radius: 25px;
    background-color: whitesmoke;
    margin-left: 20px;
}

.div-upaside {
    width: 150px;
    height: 150px;
    margin-left: 80px;
}

.divImg {
    width: 150px;
    height: 150px;
    margin-top: 30px;
    position: relative;
    display: flex;
    align-items: center;
}

.divName {
    margin-top: 30px;
}

.icon {
    position: absolute;
    top: 250px;
    left: 225px;

}

.imgprofile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.imgAttuale {
    width: 200px;
    height: 250px;
    border-radius: 25%;
}

.text-bio {
    overflow-wrap: break-word;

}

.rowCardProfile {
    justify-content: center;

}
.div-table{
    width: 100%;
}
/**table  */


table{
	background-color:#ED7D31;
    /* background-image: url(../../public/media/salotto.avif);
    background-size: contain;
    background-attachment: fixed; */
	color:#ffffff;
	width: 100%;
	border-radius: 20px 20px 0px 0px;
}

thead{
	color: #ffffff;
    border-bottom: none;

}
.th1{
    text-align: end;
}
th{
    text-align: center;
    margin-left: 20px;
}

tr{
	text-align: center;
	
}
/*!end table  */
/* table {
    background-color: #6C5F5B;
    color: #ffffff;
    width: 100%;
    border-radius: none;

}
 */
.table-roundedr {
    border-radius: 20px;
}

#table-wrapper {
    position: relative;
    background-color: white;

}

#table-scroll {
    height: 200px;
    overflow: auto;
    margin-top: 20px;

}

#table-wrapper table {
    width: 100%;

}

#table-wrapper table thead th .text {
    position: absolute;
    top: -20px;
    z-index: 2;
    height: 20px;
    width: 35%;
    border: 1px solid red;
}

.div-table-componente {
    margin-left: 30px;

}

.text-h4 {
    font-family: 'Cinzel', serif;
}

.logo-porta {
    position: fixed;
    top: 10vh;
    left: 85vw;
    width: 130px;

}

.search-profilo {
    margin-top: 90px !important;
}

.form-search-2{
    display: none;
}

.btn-list {
    background-color: #ED7D31;
}

.sezioneIntroduzione {
    margin-left: 60px;
    height: 200px;
    /*     background-color: #6C5F5B; */
    border-radius: 25px;

}

.divTextAdemi-profilo {

    margin-top: 32px;
}
/*modale*/

.wrapper a {

    text-decoration: none;
    padding: 15px;
    background-color: #6C5F5B;
    border-radius: 25px;
    color: white;



}

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal__content {
    border-radius: 4px;
    position: relative;
    padding: 1em 2em;
    width: 100%;
    margin-top: 35px;
}

.modal__close {
    position: absolute;
    top: 10px;
    left: 77vw;
    color: #585858;
    text-decoration: none;

}


/*fine modale*/


@media screen and (min-width: 300px) and (max-width: 600px) {

    .div-table-componente {
        margin-left: 0px;
    }

    .aside-phone{
        
    }

    .text-h4 {
        font-family: 'Cinzel', serif;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .search {
        margin-right: 15px;
    }

    .div-upaside {
        width: 150px;
        height: 150px;
        
        margin-top: 10px;
    }

    .btn-list {
        width: 50px;
        font-size: 8px;
    }

    .modal__content {

        width: 100%;
        font-size: small;
    }
    .sezioneIntroduzione {
        display: none;
    }

}

@media screen and (min-width: 600px) and (max-width: 1100px) {

    .logo-porta {
        padding-bottom: 100px;
    }

    .icon {
        position: absolute;
        top: 130px;
        left: 250px;

    }

    .aside-phone {
        width: 300px;
        height: auto;
       position: relative;
       top: 150px;
       right: 80px;




    }

  /*   .div-upaside {
     position: relative;
     left: 80px;
    } */

    .imgprofile {
        width: 150px;
        height: 150px;
        margin-left: 25px;
    }

    .div-table-componente {
        margin-top: 30px;
        margin-left: 155px;
    }

    .sezioneIntroduzione {
        display: flex;
        justify-content: center;
    }

    .divTextAdemi-profilo {
        display: none;
    }
}