
.contSec{
    margin-top: 80px;
    height: 99vh;
    background: linear-gradient(-45deg, #ED7D31 50%, #43403c 50%); 
    background-image: url(../../public/media/home2.jpg);
    background-size: 1300px;
    background-position: center;
    background-attachment: fixed;
    
}
.rowCat{
    margin-top: 190px;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid red;
}

.catitle{
    font-size: 40px;
    color: #000000;
    font-family: 'Cinzel', serif;    text-align: center;
    background-color: #ed7c31;
    border-radius: 20px;
}

.tag-a{
    color: #ed7c31;
}

.divSecImg{
    background-image: url(../../public/media/interior.jpg);
    background-size: cover;
    background-position-y: 300px;
}

.divSecImg2{
    background-image: url(../../public/media/perfume2.avif);
    background-size: cover;
    background-position: 100px;
}

.divSecImg3{
    background-image: url(../../public/media/watch.jpg);
    background-size: cover;
    background-position: 100px;
}

.divSecImg4{
    background-image: url(../../public/media/vinyl.avif);
    background-size: cover;
    background-position: 200px;
}
.divSecImg,.divSecImg2, .divSecImg3, .divSecImg4{
    border: solid green;
    height: 100px;
    width: 900px;
    border-radius: 50px;
    transition: 1s;
    text-align: center;
}



.divSecImg,.divSecImg2, .divSecImg3, .divSecImg4:hover{
 
    z-index: 0;
}

/* .arredamenti{
    font-size: 60px;
    margin-top: 20px;
    font-family: 'Cinzel', serif;
    opacity: 0;
    transition: 1s;
    background-color: #ed7c3184;
    border-radius: 50px;
}

.arredamenti:hover{
    font-size: 60px;
    margin-top: 5px;
    font-family: 'Cinzel', serif;
    
    color: #000000;
    opacity: 1;
    z-index: 10;
    display: block;
}
 */

.secImg1, .secImg2, .secImg3, .secImg4{
    position: relative;
    width: 900px;
    height: 100px;
    position: relative;
    object-fit: cover;
    transition: 1.2s;
    border-radius: 20px;
} 


.text-2{
	height: 240px;
    font-size: 120px;
    color: rgb(0, 0, 0);
}

.texthome{
    font-weight: lighter;
}


@media screen and (min-width: 200px) and (max-width: 765px) {
	
    .contSec{
        margin-top: 800px;
    } 

    .catitle{
        font-size: 20px;
    }
	
}
