section{
    margin-top: 45vh;
}

.contSec{
    margin-top: 40%;
}


.divSecImg, .divSecImg2, .divSecImg3, .divSecImg4{
    display: flex;
    justify-content: center;
}


.secImg1{
    position: relative;
    width: 900px;
    height: 100px;
    position: relative;
    object-fit: cover;
    transition: 1.2s;
}

.secImg2{
    width: 900px;
    height: 100px;
    object-fit: cover;
    transition: 1.2s;
}
.secImg3{
    width: 900px;
    height: 100px;
    object-fit: cover;
    transition: 1.2s;
}
.secImg4{
    width: 900px;
    height: 100px;
    object-fit: cover;
    transition: 1.2s;
}


.text-2{
	height: 240px;
    font-size: 120px;
    color: rgb(0, 0, 0);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
    
}

.texthome{
    font-weight: lighter;
}